
@use "../helpers/variables" as *;

.btn {
    display: inline-flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: $white-color;
    cursor: pointer;
    transition: all 0.5s;
}
